.page-body__page-header {
  margin-bottom: 27px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 84px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 70px;
  }
}

.page-body__header-wrap {
  background-image: url("../img/main-block-bg-bike-desk.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $black-2;

  padding: 0 calc(50% - 438px);
  margin-bottom: 150px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-block-bg-bike-desk@2x.png");
  }

  @media (min-width: 1440px) {
    height: 825px;
  }

  @media (max-width: $desktop-width - 1) {
    background-image: none;
    background-color: transparent;

    padding: 0;
    margin-bottom: 70px;
  }
}

.page-body__promo-block {
  @media (max-width: $desktop-width - 1) {
    margin: 0 auto;
  }

  @media (max-width: $tablet-width - 1) {
    margin: 0;
  }
}

.page-body__form-wrap {
  width: 327px;
  margin-left: auto;
  transform: translateY(-265px);

  @media (max-width: $desktop-width - 1) {
    margin: 0 auto;
    transform: translateY(0);
  }

  @media (max-width: $tablet-width - 1) {
    padding: 0 calc(50% - 144px);
    width: auto;
  }
}

.page-body__form-wrap p {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: $simple-white;

  text-align: center;

  margin: 0 0 20px 0;

  @media (max-width: $desktop-width - 1) {
    font-size: 18px;
    line-height: 28px;
    color: $black-2;

    margin: 0 0 30px 0;
  }

  @media (max-width: $tablet-width - 1) {
    margin: 0 0 18px 0;
  }
}

.page-body__header-inner-container {
  @media (max-width: $desktop-width - 1) {
    background-image: url("../img/main-block-bg-bike-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $black-2;

    padding-bottom: 80px;
    margin-bottom: 70px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-block-bg-bike-tablet@2x.png");
    }
  }

  @media (max-width: $tablet-width - 1) {
    background-image: url("../img/main-block-bg-bike-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 34px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-block-bg-bike-mobile@2x.png");
    }
  }
}
