.page-main__features {
  margin-bottom: 125px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 73px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 83px;
  }
}

.page-main__video-entertainment-block {
  margin-bottom: 146px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 66px;
  }
}
