.promo-block {
  @media (max-width: $desktop-width - 1) {
    width: 434px;
  }

  @media (max-width: $tablet-width - 1) {
    padding: 0 calc(50% - 144px) 35px;
    width: auto;
  }
}

.promo-block h1 {
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  color: $simple-white;

  text-align: left;

  margin: 0 0 24px 0;
  width: 393px;

  @media (max-width: $desktop-width - 1) {
    font-size: 30px;
    line-height: 42px;

    text-align: center;

    margin: 0 0 20px 0;
    width: 434px;
  }

  @media (max-width: $tablet-width - 1) {
    width: auto;
  }
}

.promo-block p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: $simple-white;
  opacity: 0.8;

  text-align: left;

  margin: 0;
  width: 381px;

  @media (max-width: $desktop-width - 1) {
    font-size: 18px;
    line-height: 32px;

    text-align: center;

    width: 434px;
  }

  @media (max-width: $tablet-width - 1) {
    width: auto;
  }
}
