*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;

  background-color: $simple-white;

  margin: 0;
}

a {
  text-decoration: none;
}
